@use "recipes";
@use "filter";

.main {
  max-width: 1320px;
  margin: 0 auto;
  background: white;
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 35px;
}

.main-content {
  flex-grow: 1;
  max-width: 1320px;
  margin: 60px auto 60px;
}

.sortNav{
display: flex;
gap: 15px;
font-weight: 600;
font-size: 14px;
}