.profileAvatarPreviewSection{
    max-width: 150px;
    border-radius: 50%;
    margin-top: 10px;
    display:none;
}

#myRecipesSection h2{
    margin: 20px 0;
}

#imagePreview{
    max-width:100%;
    margin-top:10px;
    display:none;
    border-radius:8px;
}

#recipeViewImage{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    display: none;
}