@use "header.new";
// @use "header";
@use "main.new";
// @use "main";
@use "footer.new";
// @use "footer";
@use "media";
@use "modal";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../img/1679657594_bogatyr-club-p-fon-shkolnii-serii-krasivo-36.jpg);
  // background: #f9f9f9;
  color: #333;
}

// .app-fullwidth {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   background: #fafafa;
//   color: #222;
// }

.container{
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  // align-items: center;
  // flex-wrap: wrap;
}