@use "recipes";
@use "filter";

.main-content {
  flex-grow: 1;
  max-width: 1320px;
  margin: 60px auto 60px;
}

.recipes-wrapper {
  display: flex;
  gap: 30px;
  min-width: 1300px;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}